* {
  margin: 0px;
  padding: 0px;
}

.wrapper{
  background-color: darkolivegreen;
  color: rgba(255, 255, 255, 0.847);
}

nav{
  display:flex;
  align-items: center;
}


ul{
  list-style: none;
  display: flex;
  flex-direction: row; 
  gap: 2rem;
  margin-left: auto;
  margin-right: 100px;
}

a{
  text-decoration:none;
  padding: 20px;
  display: inline-block;
}

a:visited {
  color: white;
}

desc{
  display: flex;
  align-items: center;
}

.header-logo{
  width: 250px;
}

.description-header{
  margin-left: 125px;
}

.description-text{
  margin-left: 125px;
}
.placeholder-image{
  width: 300px;
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: 50px;
  border-radius: 25px;
}

.signup-button{
    margin-top: 10px;
    margin-left: 125px;
    width: 10%;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.wrapper-2{
  background-color: whitesmoke;
  color: darkolivegreen;
}

.random{
  padding-top: 3rem;
  display:flex;
  justify-content: center;
}

.imagesMain {
  display: flex;
  justify-content: center;
}

.imagesMain img {
  border-radius: 25px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  border: 5px solid darkolivegreen;
}

.imagesMain p{
  margin-top: 20px;
  margin-left: 63px;
  margin-right: 63px;
  margin-bottom: 100px;
}

.wrapper-3{
  background-color: lightgray;
}

.olive-quote{
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size:xx-large
}

.quote-author{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 200px;
  font-size: large;
  padding-bottom: 4rem;
}

.Fourth-CallToAction{
  display: flex;
  flex-direction: column;
}

.wrapper-4{
  background-color: whitesmoke;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.Fourth{
    display: flex;
    border-radius: 25px;
    background-color: rgb(140, 197, 17);
    margin:80px 150px 80px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height:150px;
    width:1000px;
}

.CallToAction{
  font-weight: 900;
  font-size: 18px;
  margin:40px 0 0 0;
}

.CallToAction-Subtext{
  margin:0 0 40px 0;
}

.CallToAction-button{
  align-self: center;
  padding:5px 25px 5px 25px;
  color:#F9FAF8;
  background-color: #3882F6;
  border-radius: 10px;
  border-color: #F9FAF8;
}












